{% load static %}
<footer id="footer" class="footer bg-no-repeat" data-tm-bg-img="{% static 'images/footer-img1.png' %}">
  <div class="footer-widget-area">
    <div class="container pt-70 pb-30">
      <div class="row mt-2">
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="widget widget-contact-info clearfix mb-20">
            <h4 class="text-white">Contact Us</h4>
            <div class="footer-contact-address">
              <ul class="list-unstyled text-black">
                <li><i class="fas fa-phone-alt mr-10"></i> +254 722 388 398</li>
                <li><i class="fas fa-phone-alt mr-10"></i> +254 7223883989</li>
                <li><i class="fas fa-envelope mr-10"></i> info@raerex.co.ke</li>
                <li><i class="fas fa-map mr-10"></i> The Real Park Towers, Bandari Road, Industrial Area</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="widget widget_nav_menu">
            <h4 class="widget-title" style="padding: 0; margin: 0; padding-top: 12px;">Explore</h4>
            <div class="menu-footer-page-list">
              <ul id="footer-page-list" class="menu">
                
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-5 col-xl-3">
          <ul class="styled-icons icon-dark icon-lg icon-circled icon-theme-colored2 text-left text-xl-end">
            <li><a class="social-link" href="https://web.facebook.com/RaerexEa/"><i class="fab fa-facebook"></i></a></li>
            <li><a class="social-link" href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a class="social-link" href="#"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row pt-20 pb-20">
        <div class="col-sm-6 offset-sm-3">
          <div class="footer-paragraph text-center text-black">
            © 2024 Created by Hansel Technologies.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>